.git
.github
.gitignore
.env
.env.example
.phpunit.cache
build/
tests/
phpunit.dist.xml
README.md
*.md
docker-compose.yml
docker-compose.override.yml
writable/cache/*
writable/logs/*
writable/session/*
!writable/uploads/surat/.gitkeep
